<div class="container">
  <div>
    <nav class="navbar navbar-expand navbar-dark bg-dark">
      <a href="#" class="navbar-brand">Meeting Vote</a>
      <div class="navbar-nav mr-auto">
        <li class="nav-item">
          <a routerLink="/persons" class="nav-link">Pessoas</a>
        </li>
        <li class="nav-item">
          <a routerLink="/items" class="nav-link">Item</a>
        </li>
        <li class="nav-item">
          <a routerLink="/votes" class="nav-link">Voto</a>
        </li>
        <li class="nav-item">
          <a routerLink="/addSession" class="nav-link">Sessão</a>
        </li>
      </div>
    </nav>

    <div class="container mt-3">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
